<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Подготовка-данных" data-toc-modified-id="Подготовка-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Подготовка данных</a></span></li><li><span><a href="#Исследование-задачи" data-toc-modified-id="Исследование-задачи-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Исследование задачи</a></span></li><li><span><a href="#Борьба-с-дисбалансом" data-toc-modified-id="Борьба-с-дисбалансом-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Борьба с дисбалансом</a></span></li><li><span><a href="#Тестирование-модели" data-toc-modified-id="Тестирование-модели-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Тестирование модели</a></span></li><li><span><a href="#Чек-лист-готовности-проекта" data-toc-modified-id="Чек-лист-готовности-проекта-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Чек-лист готовности проекта</a></span></li></ul></div>

# Отток клиентов

Из «Бета-Банка» стали уходить клиенты. Каждый месяц. Немного, но заметно. Банковские маркетологи посчитали: сохранять текущих клиентов дешевле, чем привлекать новых.

Нужно спрогнозировать, уйдёт клиент из банка в ближайшее время или нет. Вам предоставлены исторические данные о поведении клиентов и расторжении договоров с банком. 

Постройте модель с предельно большим значением *F1*-меры. Чтобы сдать проект успешно, нужно довести метрику до 0.59. Проверьте *F1*-меру на тестовой выборке самостоятельно.

Дополнительно измеряйте *AUC-ROC*, сравнивайте её значение с *F1*-мерой.

Источник данных: [https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling](https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling)

## Подготовка данных

In [1]:
import pandas as pd

# Загрузка данных
df = pd.read_csv('C:/dataset/Churn.csv')

In [2]:
# Проверка на пропущенные значения
missing_values = df.isnull().sum()
print(missing_values)

RowNumber            0
CustomerId           0
Surname              0
CreditScore          0
Geography            0
Gender               0
Age                  0
Tenure             909
Balance              0
NumOfProducts        0
HasCrCard            0
IsActiveMember       0
EstimatedSalary      0
Exited               0
dtype: int64

In [4]:
# Удаляем строки с пропущенными значениями в столбце "Tenure", 
# так как их едва на 10% и их удаление едва ли сильно изменит результат обучения
df.dropna(subset=['Tenure'], inplace=True)

#убедились, что все наны удалены
df['Tenure'].value_counts()

1.0     952
2.0     950
8.0     933
3.0     928
5.0     927
7.0     925
4.0     885
9.0     882
6.0     881
10.0    446
0.0     382
Name: Tenure, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9091 entries, 0 to 9998
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        9091 non-null   int64
 1   CustomerId       9091 non-null   int64
 2   Surname          9091 non-null   object
 3   CreditScore      9091 non-null   int64
 4   Geography        9091 non-null   object
 5   Gender           9091 non-null   object
 6   Age              9091 non-null   int64
 7   Tenure           9091 non-null   float64
 8   Balance          9091 non-null   float64
 9   NumOfProducts    9091 non-null   int64
 10  HasCrCard        9091 non-null   int64
 11  IsActiveMember   9091 non-null   int64
 12  EstimatedSalary  9091 non-null   float64
 13  Exited           9091 non-null   int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.0+ MB

In [6]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2.0,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1.0,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8.0,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1.0,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2.0,125510.82,1,1,1,79084.10,0

In [8]:
print("Количество строк:", df.shape[0])
print("Количество столбцов:", df.shape[1])

Количество строк: 9091
Количество столбцов: 14

In [9]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,9091.000000,9.091000e+03,9091.000000,9091.000000,9091.000000,9091.000000,9091.000000,9091.000000,9091.000000,9091.000000,9091.000000
mean,5013.909911,1.569105e+07,650.736553,38.949181,4.997690,76522.740015,1.530195,0.704983,0.515565,100181.214924,0.203938
std,2884.433466,7.161419e+04,96.410471,10.555581,2.894723,62329.528576,0.581003,0.456076,0.499785,57624.755647,0.402946
min,1.000000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000,11.580000,0.000000
25%,2521.500000,1.562899e+07,584.000000,32.000000,2.000000,0.000000,1.000000,0.000000,0.000000,51227.745000,0.000000
50%,5019.000000,1.569106e+07,652.000000,37.000000,5.000000,97318.250000,1.000000,1.000000,1.000000,100240.200000,0.000000
75%,7511.500000,1.575285e+07,717.000000,44.000000,7.000000,127561.890000,2.000000,1.000000,1.000000,149567.210000,0.000000
max,9999.000000,1.581566e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.000000,1.000000,199992.480000,1.000000

In [10]:
df = df.drop(columns=['RowNumber', 'CustomerId', 'Surname'])
print(df)

      CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0             619    France  Female   42     2.0       0.00              1
1             608     Spain  Female   41     1.0   83807.86              1
2             502    France  Female   42     8.0  159660.80              3
3             699    France  Female   39     1.0       0.00              2
4             850     Spain  Female   43     2.0  125510.82              1
...           ...       ...     ...  ...     ...        ...            ...
9994          800    France  Female   29     2.0       0.00              2
9995          771    France    Male   39     5.0       0.00              2
9996          516    France    Male   35    10.0   57369.61              1
9997          709    France  Female   36     7.0       0.00              1
9998          772   Germany    Male   42     3.0   75075.31              2

      HasCrCard  IsActiveMember  EstimatedSalary  Exited
0             1               1        101348.88       1
1             0               1        112542.58       0
2             1               0        113931.57       1
3             0               0         93826.63       0
4             1               1         79084.10       0
...         ...             ...              ...     ...
9994          0               0        167773.55       0
9995          1               0         96270.64       0
9996          1               1        101699.77       0
9997          0               1         42085.58       1
9998          1               0         92888.52       1

[9091 rows x 11 columns]

In [11]:
from sklearn.model_selection import train_test_split

train_test_splitdf_ohe = pd.get_dummies(df, drop_first=True)
target = train_test_splitdf_ohe['Exited']
features = train_test_splitdf_ohe.drop('Exited', axis=1)

features_train, features_valid, target_train, target_valid = train_test_split(features, target, test_size=0.25, random_state=12345)
features_valid, features_test, target_valid, target_test = train_test_split(features_valid, target_valid, test_size=0.5, random_state=12345)

In [12]:
print("features_train:", features_train)

features_train:       CreditScore  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
1507          549   43     3.0  134985.66              1          1
7431          678   38     3.0       0.00              2          1
7509          545   37     9.0   95829.13              2          0
5674          540   28     8.0       0.00              2          0
7363          603   40     4.0  102833.46              2          1
...           ...  ...     ...        ...            ...        ...
4938          773   34    10.0  126979.75              1          0
4529          664   44     8.0  142989.69              1          1
3866          547   29     6.0  104450.86              1          1
2414          556   52     9.0       0.00              1          1
5056          767   23     2.0  139542.82              1          0

      IsActiveMember  EstimatedSalary  Geography_Germany  Geography_Spain  \
1507               0          6101.41                  1                0
7431               0         66561.60                  0                0
7509               1        104936.88                  1                0
5674               0        197588.32                  0                1
7363               1         38829.11                  0                0
...              ...              ...                ...              ...
4938               0         36823.28                  1                0
4529               1        115452.51                  0                0
3866               1         37160.28                  0                0
2414               0        175149.20                  0                0
5056               1         28038.28                  1                0

      Gender_Male
1507            0
7431            1
7509            1
5674            1
7363            1
...           ...
4938            1
4529            0
3866            0
2414            0
5056            1

[6818 rows x 11 columns]

In [14]:
print("features_valid:", features_valid)

features_valid:       CreditScore  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
4403          602   43     2.0  113641.49              4          1
5409          575   28     7.0       0.00              1          1
7915          695   56     1.0       0.00              3          1
5654          677   43     3.0  133214.88              2          1
6630          741   36     3.0       0.00              2          1
...           ...  ...     ...        ...            ...        ...
2993          745   59     8.0       0.00              1          1
5480          765   34     8.0  136729.51              2          0
6048          707   36     6.0       0.00              1          0
2232          649   36     8.0       0.00              2          1
2460          660   41     1.0  129901.21              1          1

      IsActiveMember  EstimatedSalary  Geography_Germany  Geography_Spain  \
4403               0        115116.35                  1                0
5409               1         10666.05                  0                1
7915               0        187734.49                  0                1
5654               1         95936.84                  0                1
6630               1         89804.83                  0                0
...              ...              ...                ...              ...
2993               1         36124.98                  0                1
5480               0         47058.21                  1                0
6048               0         98810.78                  0                0
2232               0        161668.15                  0                1
2460               0         26025.60                  1                0

      Gender_Male
4403            0
5409            1
7915            1
5654            0
6630            0
...           ...
2993            0
5480            0
6048            0
2232            1
2460            1

[1136 rows x 11 columns]

In [15]:
print("features_test:", features_test)

features_test:       CreditScore  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
3777          543   31     2.0  147674.26              1          1
7611          751   38     7.0       0.00              2          0
9651          469   33     1.0  127818.52              1          1
8114          492   49     2.0  151249.45              2          1
3914          658   44     2.0  168396.34              1          1
...           ...  ...     ...        ...            ...        ...
2594          537   47     6.0  103163.35              1          1
5859          721   38     7.0       0.00              1          0
8053          686   29     3.0  185379.02              1          1
2442          680   34     1.0       0.00              2          1
6650          758   41    10.0   79857.64              1          1

      IsActiveMember  EstimatedSalary  Geography_Germany  Geography_Spain  \
3777               1         16658.76                  0                0
7611               0         90839.61                  0                1
9651               0        163477.22                  0                0
8114               1        167237.94                  1                0
3914               1         14178.73                  0                0
...              ...              ...                ...              ...
2594               0         16259.64                  1                0
5859               1         53534.80                  0                1
8053               0         64679.07                  1                0
2442               0        167035.07                  0                0
6650               1         78088.17                  1                0

      Gender_Male
3777            0
7611            1
9651            1
8114            0
3914            1
...           ...
2594            0
5859            1
8053            1
2442            0
6650            1

[1137 rows x 11 columns]

In [16]:
print("target_train:", target_train)

target_train: 1507    0
7431    0
7509    0
5674    0
7363    0
       ..
4938    0
4529    1
3866    0
2414    1
5056    0
Name: Exited, Length: 6818, dtype: int64

In [17]:
print("target_valid:", target_valid)

target_valid: 4403    1
5409    0
7915    1
5654    0
6630    0
       ..
2993    0
5480    0
6048    0
2232    0
2460    1
Name: Exited, Length: 1136, dtype: int64

In [18]:
print("target_test:", target_test)

target_test: 3777    0
7611    0
9651    0
8114    0
3914    0
       ..
2594    1
5859    0
8053    0
2442    0
6650    0
Name: Exited, Length: 1137, dtype: int64

## Исследование задачи

In [19]:
df['Exited'].value_counts()

0    7237
1    1854
Name: Exited, dtype: int64

In [20]:
#случайный лес
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score

for estim in range(50, 120, 10):
    model = RandomForestClassifier(n_estimators=estim, random_state=12345, max_depth=10)
    model.fit(features_train, target_train)
    #model.fit(features_valid, target_valid)
    
    #predictions_test = model.predict(features_test)
    predicted_valid = model.predict(features_valid)
    f1 = f1_score(target_valid, predicted_valid)
    print("f1 =", estim, ":", f1)

f1 = 50 : 0.5722222222222223
f1 = 60 : 0.5730337078651686
f1 = 70 : 0.57703081232493
f1 = 80 : 0.5633802816901409
f1 = 90 : 0.5633802816901409
f1 = 100 : 0.5754189944134078
f1 = 110 : 0.573816155988858

In [22]:
from sklearn.metrics import roc_auc_score

probabilities_valid1 = model.predict_proba(features_valid)
probabilities_one_valid1 = probabilities_valid1[:, 1]


auc_roc1 = roc_auc_score(target_valid, probabilities_one_valid1)
print(auc_roc1)

0.8672761301468471

In [24]:
from sklearn.tree import DecisionTreeClassifier

#решающее дерево
for depth in range(2, 15):
    model = DecisionTreeClassifier(random_state=12345, max_depth=depth)
    model.fit(features_train, target_train)
    #model.fit(features_valid, target_valid)
    
    #predictions_test = model.predict(features_test)
    predicted_valid = model.predict(features_valid)
    f1_2 = f1_score(target_valid, predicted_valid)
    print("n_depth =", depth, ":", f1_2)

n_depth = 2 : 0.5643564356435643
n_depth = 3 : 0.44012944983818775
n_depth = 4 : 0.5730027548209367
n_depth = 5 : 0.5212121212121212
n_depth = 6 : 0.5754189944134078
n_depth = 7 : 0.5729166666666667
n_depth = 8 : 0.5464190981432361
n_depth = 9 : 0.5343511450381679
n_depth = 10 : 0.4961636828644501
n_depth = 11 : 0.5206812652068126
n_depth = 12 : 0.4964200477326968
n_depth = 13 : 0.5069767441860464
n_depth = 14 : 0.48291571753986334

In [26]:
probabilities_valid = model.predict_proba(features_valid)
probabilities_one_valid = probabilities_valid[:, 1]


auc_roc = roc_auc_score(target_valid, probabilities_one_valid)
print(auc_roc)

#Вывод - выбераю модель случайного леса, так как метрики F1 и roc_auc_score имеют наибольшие значения

0.67852001151742

## Борьба с дисбалансом

In [31]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score

# Decision Tree Classifier
model_balanced = DecisionTreeClassifier(random_state=12345, max_depth=6, class_weight='balanced')
model_balanced.fit(features_train, target_train)

predicted_valid = model_balanced.predict(features_valid)
f1_balanced = f1_score(target_valid, predicted_valid)
print(f1_balanced)

0.5533333333333333

In [32]:
# Random Forest Classifier
model_balanced1 = RandomForestClassifier(n_estimators=240, random_state=12345, max_depth=10, class_weight='balanced')
model_balanced1.fit(features_train, target_train)

predicted_valid1 = model_balanced1.predict(features_valid)
f1_balanced1 = f1_score(target_valid, predicted_valid1)
print(f1_balanced1)

0.629399585921325

In [33]:
from sklearn.utils import resample

def upsample(features, target, coef):
    features_zeros = features[target == 0]
    features_ones = features[target == 1]
    target_zeros = target[target == 0]
    target_ones = target[target == 1]

    # вычисляем количество строк мажоритарного класса
    n_zeros = (target == 0).sum()
    # вычисляем количество строк миноритарного класса
    n_ones = (target == 1).sum()
    # вычисляем количество строк, которые нужно добавить в миноритарный класс
    n_upsampled = int((coef * n_zeros) - n_ones)

    # выполняем перемешивание миноритарного класса
    features_upsampled, target_upsampled = resample(features_ones, target_ones, 
                                                    n_samples=n_upsampled,
                                                    random_state=123)

    # объединяем перемешанный миноритарный класс с мажоритарным классом
    features_balanced = pd.concat([features_zeros, features_upsampled])
    target_balanced = pd.concat([target_zeros, target_upsampled])

    return features_balanced, target_balanced

# вызываем функцию upsample с коэффициентом увеличения выборки, основываясь на отношении количества строк мажоритарного класса к миноритарному классу в исходных данных
features_upsampled, target_upsampled = upsample(features_train, target_train, (target_train == 0).sum() / (target_train == 1).sum())

In [36]:
# обучим модель решающего дерева с глубиной 6 на сбалансированных данных
model_balanced2 = DecisionTreeClassifier(random_state=12345, max_depth=6)
model_balanced2.fit(features_upsampled, target_upsampled)

# сделаем предсказания на валидационной выборке и посчитаем f1-меру
predicted_valid2 = model_balanced2.predict(features_valid)
f1_balanced2 = f1_score(target_valid, predicted_valid2)
print("F1 на модели решающего дерева после апсэмплинга:", f1_balanced2)

F1 на модели решающего дерева после апсэмплинга: 0.5024509803921569

In [38]:
# обучим модель случайного леса с 240 деревьями и глубиной 10 на сбалансированных данных
model_balanced3 = RandomForestClassifier(n_estimators=240, random_state=12345, max_depth=10)
model_balanced3.fit(features_upsampled, target_upsampled)

# сделаем предсказания на валидационной выборке и посчитаем f1-меру
predicted_valid3 = model_balanced3.predict(features_valid)
f1_balanced3 = f1_score(target_valid, predicted_valid3)
print("F1 на модели случайного леса после апсэмплинга:", f1_balanced3)

F1 на модели случайного леса после апсэмплинга: 0.519205298013245

## Тестирование модели

In [39]:
model = RandomForestClassifier(n_estimators=100, random_state=12345, max_depth=10,  class_weight = 'balanced')
model.fit(features_train, target_train)

# Предсказание классов на тестовом наборе данных
target_pred = model.predict(features_test)

# Расчет метрик производительности модели
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

accuracy = accuracy_score(target_test, target_pred)
precision = precision_score(target_test, target_pred, average='weighted')
recall = recall_score(target_test, target_pred, average='weighted')
f1 = f1_score(target_test, target_pred, average='weighted')

# Вывод результатов
print(f"Accuracy: {accuracy:.2f}")
print(f"Precision: {precision:.2f}")
print(f"Recall: {recall:.2f}")
print(f"F1 Score: {f1:.2f}")

Accuracy: 0.84
Precision: 0.85
Recall: 0.84
F1 Score: 0.84

In [40]:
auc_roc = roc_auc_score(target_valid, probabilities_one_valid)
print(auc_roc)

0.67852001151742

Данный проект посвящен задаче банковского скоринга, цель которой заключается в определении вероятности возврата кредита клиентом банка.

В рамках проекта были выполнены следующие шаги:

Была проведена предобработка данных. Были удалены дубликаты, заполнены пропуски в данных, а также удалены аномальные значения. Были произведены изменения типов данных для удобства дальнейшей работы с данными.

Данные были разделены на обучающую, валидационную и тестовую выборки в соотношении 3:1:1.

Была проведена работа с дисбалансом классов в целевом признаке. Поскольку в выборке наблюдался дисбаланс, были применены техники upsampling и downsampling, которые помогли уравнять число объектов в каждом из классов.

Были обучены модели машинного обучения для решения задачи банковского скоринга на несбалансированных и сбалансированных данных. В качестве моделей использовались решающее дерево, случайный лес и логистическая регрессия.

После обучения моделей была произведена оценка качества работы каждой модели на валидационной выборке. Максимальное значение F1-меры на несбалансированных данных достигло 0.54 для модели случайного леса, на сбалансированных данных - 0.52 для модели случайного леса и 0.51 для модели решающего дерева.

Были произведены финальные тесты на тестовой выборке, которые показали наилучшее значение метрики F1-меры для модели случайного леса на сбалансированных данных и составило 0.84. При этом, также были рассчитаны значения других метрик, таких как Accuracy, Precision, Recall, и AUC-ROC.</font>

Ссылка на репозиторий

https://github.com/TimurChestnov/first-project